<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="menuWrapper">
            <ion-title *ngIf="title">
                {{ title | uppercase }}
            </ion-title>
            <div class="cart">
                <div>
                    <p>Total Items: {{ getTotalItems() }}</p>
                    <p>Total Price: {{ getTotalPrice() | currency}}</p>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-header>