<h1><app-header title="{{ title }}" (buttonClicked)="handleButtonClicked($event)">
  </app-header></h1>


<div>
  <h2>Categories</h2>
  <ul>
    <li *ngFor="let cat of categories" (click)="selectedCategorie = cat">
      {{ cat.title | titlecase }}
    </li>
  </ul>
</div>

<div>
  <h2>Recipes</h2>


  <ul *ngFor="let cat of categories | filterByCategory : selectedCategorie">
    <li *ngFor="let recipe of cat.recipes" (click)="addToCart(recipe)">
      {{ recipe.title }}
    </li>
  </ul>

  <button (click)="handleClick($event)">
    order now {{ orderForm.value | totalPrice }}
  </button>
</div>