<app-header title="{{ title }}">
</app-header>


<ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>
                    <h1>Categories</h1>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" *ngFor="let cat of categories" (click)="selectedCategorie = cat">
            {{ cat.title | titlecase }} </ion-content>



    </ion-menu>

    <div class="ion-page" id="main">
        <ion-header>
            <ion-toolbar>
                <ion-title>Recipes</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-grid>
                <ion-row *ngFor="let cat of categories | filterByCategory: selectedCategorie"
                    (click)="selectedCategorie = cat">
                    <ion-col size="4" *ngFor="let recipe of cat.recipes" (click)="addToCart(recipe)">
                        <ion-card style="height: 400px;">
                            <img alt="recipe" src="{{recipe.imageUrl || './assets/cocacola.png'}}"
                                style="width: 150px; height: 150px; border-radius: 50%;" />
                            <ion-card-header>
                                <ion-card-title>{{recipe.title}}</ion-card-title>
                                <ion-card-subtitle></ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                {{recipe.description}}
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-content>
    </div>

    <ion-button expand="block" (click)="handleClick($event)">
        ORDER NOW {{ orderForm.value | totalPrice }}
    </ion-button>
</ion-split-pane>






<!-- <ion-grid [fixed]="true">
        <h1>Categories</h1>
        <ion-row *ngFor="let cat of categories" (click)="selectedCategorie = cat">
            <ion-col size="6">{{ cat.title | titlecase }}</ion-col>
            <ion-col size="4" *ngFor="let recipe of cat.recipes" (click)="addToCart(recipe)">
                <img src="{{recipe.imageUrl || './assets/cocacola.png'}}"
                    style="width: 50px; height: 50px; border-radius: 50%;">
            </ion-col>

        </ion-row>
    </ion-grid> -->


<!-- <div>
        <h2>Categories</h2>
        <ul>
            <li *ngFor="let cat of categories" (click)="selectedCategorie = cat">
                {{ cat.title | titlecase }}
            </li>
        </ul>
    </div> -->

<!-- <div>
        <h2>Recipes</h2>


        <ul *ngFor="let cat of categories | filterByCategory : selectedCategorie">
            <li *ngFor="let recipe of cat.recipes" (click)="addToCart(recipe)">
                {{ recipe.title }}
            </li>
        </ul>

        <button (click)="handleClick($event)">
            order now {{ orderForm.value | totalPrice }}
        </button>
    </div> -->